In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Sorting Dataframe**

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/Human%20Capital.csv")
data.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...               49.0           0
1        65141         Operations  ...               60.0           0
2         7513  Sales & Marketing  ...               50.0           0
3         2542  Sales & Marketing  ...               50.0           0
4        48945         Technology  ...               73.0           0

[5 rows x 13 columns]

In [7]:
data = data.sample(n=10)
data

       employee_id         department  ... avg_training_score is_promoted
29839        32049         Operations  ...               60.0           0
19149        46747  Sales & Marketing  ...               49.0           0
27598        46960         Operations  ...               58.0           0
13063        54800         Operations  ...               58.0           0
51552        35055         Operations  ...               60.0           0
50064        35685         Technology  ...               85.0           0
43864        35381         Technology  ...               79.0           0
38330        49063  Sales & Marketing  ...               52.0           0
19644        76097  Sales & Marketing  ...               49.0           0
38966        25151         Operations  ...               59.0           0

[10 rows x 13 columns]

In [8]:
data.sort_values(by=['employee_id'])

       employee_id         department  ... avg_training_score is_promoted
38966        25151         Operations  ...               59.0           0
29839        32049         Operations  ...               60.0           0
51552        35055         Operations  ...               60.0           0
43864        35381         Technology  ...               79.0           0
50064        35685         Technology  ...               85.0           0
19149        46747  Sales & Marketing  ...               49.0           0
27598        46960         Operations  ...               58.0           0
38330        49063  Sales & Marketing  ...               52.0           0
13063        54800         Operations  ...               58.0           0
19644        76097  Sales & Marketing  ...               49.0           0

[10 rows x 13 columns]

In [12]:
data.sort_values(by=['department','age'], ascending=False)
#sort berdasarkan departmend descending, trus age descending

       employee_id         department  ... avg_training_score is_promoted
43864        35381         Technology  ...               79.0           0
50064        35685         Technology  ...               85.0           0
19149        46747  Sales & Marketing  ...               49.0           0
19644        76097  Sales & Marketing  ...               49.0           0
38330        49063  Sales & Marketing  ...               52.0           0
13063        54800         Operations  ...               58.0           0
29839        32049         Operations  ...               60.0           0
27598        46960         Operations  ...               58.0           0
51552        35055         Operations  ...               60.0           0
38966        25151         Operations  ...               59.0           0

[10 rows x 13 columns]

In [10]:
data['employee_id'].sort_values(ascending= False)
#jadinya berbentuk array

19644    76097
13063    54800
38330    49063
27598    46960
19149    46747
50064    35685
43864    35381
51552    35055
29839    32049
38966    25151
Name: employee_id, dtype: int64

**Filtering Dataframe**

In [14]:
data.filter(items=['age','gender'])

       age gender
29839   55      f
19149   34      m
27598   30      m
13063   60      m
51552   29      f
50064   25      f
43864   33      f
38330   24      m
19644   27      f
38966   29      m

In [15]:
data[['age','gender']]#dari array jadi sebuah dataframe

       age gender
29839   55      f
19149   34      m
27598   30      m
13063   60      m
51552   29      f
50064   25      f
43864   33      f
38330   24      m
19644   27      f
38966   29      m

In [21]:
data[['age','gender']][1:6] #selain .head() bisa juga pake cara kaya gini

       age gender
19149   34      m
27598   30      m
13063   60      m
51552   29      f
50064   25      f

In [17]:
data.loc[(data['gender']=='m')]

       employee_id         department  ... avg_training_score is_promoted
19149        46747  Sales & Marketing  ...               49.0           0
27598        46960         Operations  ...               58.0           0
13063        54800         Operations  ...               58.0           0
38330        49063  Sales & Marketing  ...               52.0           0
38966        25151         Operations  ...               59.0           0

[5 rows x 13 columns]

In [24]:
data_baru = data.reset_index(drop=True)
data_baru

   employee_id         department  ... avg_training_score is_promoted
0        32049         Operations  ...               60.0           0
1        46747  Sales & Marketing  ...               49.0           0
2        46960         Operations  ...               58.0           0
3        54800         Operations  ...               58.0           0
4        35055         Operations  ...               60.0           0
5        35685         Technology  ...               85.0           0
6        35381         Technology  ...               79.0           0
7        49063  Sales & Marketing  ...               52.0           0
8        76097  Sales & Marketing  ...               49.0           0
9        25151         Operations  ...               59.0           0

[10 rows x 13 columns]

In [25]:
data_baru.iloc[0:7,0:5]
#filtering berdasarkan index
#sebelum koma untuk ngambil index row sebelum 7
#setelah koma untuk ngambil index kolom sebelum 3

   employee_id         department     region         education gender
0        32049         Operations   region_2        Bachelor's      f
1        46747  Sales & Marketing  region_25  Master's & above      m
2        46960         Operations  region_13        Bachelor's      m
3        54800         Operations   region_2  Master's & above      m
4        35055         Operations  region_27        Bachelor's      f
5        35685         Technology  region_11        Bachelor's      f
6        35381         Technology   region_6        Bachelor's      f

In [26]:
data_baru.loc[0:7,['education','gender']]#loc bisa dipake gini juga

          education gender
0        Bachelor's      f
1  Master's & above      m
2        Bachelor's      m
3  Master's & above      m
4        Bachelor's      f
5        Bachelor's      f
6        Bachelor's      f
7               NaN      m

In [31]:
data_baru.iloc[-5:,0:5]

   employee_id         department     region   education gender
5        35685         Technology  region_11  Bachelor's      f
6        35381         Technology   region_6  Bachelor's      f
7        49063  Sales & Marketing   region_2         NaN      m
8        76097  Sales & Marketing  region_30  Bachelor's      f
9        25151         Operations  region_16  Bachelor's      m

In [42]:
data_baru.loc[(data_baru['age'] > 20) & (data_baru['length_of_service'] > 3) & (data_baru['region'] == "region_27"),["employee_id","department","region","age","length_of_service"]]
#filtering banyak kriteria dengan menampilkan beberapa kolom saja

   employee_id  department     region  age  length_of_service
4        35055  Operations  region_27   29                  4

In [43]:
filter_data = data_baru.loc[(data_baru['age'] > 20) | (data_baru['length_of_service'] > 3) | (data_baru['region'] == "region_27"),["employee_id","department","region","age","length_of_service"]]
filter_data

   employee_id         department     region  age  length_of_service
0        32049         Operations   region_2   55                  9
1        46747  Sales & Marketing  region_25   34                  6
2        46960         Operations  region_13   30                  4
3        54800         Operations   region_2   60                  5
4        35055         Operations  region_27   29                  4
5        35685         Technology  region_11   25                  3
6        35381         Technology   region_6   33                  5
7        49063  Sales & Marketing   region_2   24                  1
8        76097  Sales & Marketing  region_30   27                  4
9        25151         Operations  region_16   29                  6

**Creating New Variable**

In [44]:
filter_data['test'] = filter_data['age']+filter_data['length_of_service']
filter_data.head()

   employee_id         department     region  age  length_of_service  test
0        32049         Operations   region_2   55                  9    64
1        46747  Sales & Marketing  region_25   34                  6    40
2        46960         Operations  region_13   30                  4    34
3        54800         Operations   region_2   60                  5    65
4        35055         Operations  region_27   29                  4    33

In [46]:
filter_data['gabungan'] = str(filter_data['department'])+str(filter_data['region'])
filter_data

   employee_id  ...                                           gabungan
0        32049  ...  0           Operations\n1    Sales & Marketing...
1        46747  ...  0           Operations\n1    Sales & Marketing...
2        46960  ...  0           Operations\n1    Sales & Marketing...
3        54800  ...  0           Operations\n1    Sales & Marketing...
4        35055  ...  0           Operations\n1    Sales & Marketing...
5        35685  ...  0           Operations\n1    Sales & Marketing...
6        35381  ...  0           Operations\n1    Sales & Marketing...
7        49063  ...  0           Operations\n1    Sales & Marketing...
8        76097  ...  0           Operations\n1    Sales & Marketing...
9        25151  ...  0           Operations\n1    Sales & Marketing...

[10 rows x 7 columns]

**Grouping and Merging**

In [55]:
filter_data.groupby('region').agg(rerata_usia= ("age","mean"),
                                  max_service=("length_of_service","max")).reset_index()
#rata2 usia dan lamanya length of service berdasarkan region
#.groupby() selalu bareng .agg()
#pake .reset_index() biar kolom region kedudukannya sama

      region  rerata_usia  max_service
0  region_11    25.000000            3
1  region_13    30.000000            4
2  region_16    29.000000            6
3   region_2    46.333333            9
4  region_25    34.000000            6
5  region_27    29.000000            4
6  region_30    27.000000            4
7   region_6    33.000000            5

In [74]:
data = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/Human%20Capital.csv")

In [75]:
data1 = data.iloc[:20, :6]
data1.head()

   employee_id         department  ... gender recruitment_channel
0        65438  Sales & Marketing  ...      f            sourcing
1        65141         Operations  ...      m               other
2         7513  Sales & Marketing  ...      m            sourcing
3         2542  Sales & Marketing  ...      m               other
4        48945         Technology  ...      m               other

[5 rows x 6 columns]

In [76]:
data2 = data.loc[18:30, ['employee_id','is_promoted',"no_of_trainings"]]
data2.head()

    employee_id  is_promoted  no_of_trainings
18        17436            0                1
19        54461            0                1
20        12067            0                1
21        33332            0                1
22        58789            0                1

In [77]:
data1.merge(data2, how='outer', on='employee_id')

    employee_id         department  ... is_promoted no_of_trainings
0         65438  Sales & Marketing  ...         NaN             NaN
1         65141         Operations  ...         NaN             NaN
2          7513  Sales & Marketing  ...         NaN             NaN
3          2542  Sales & Marketing  ...         NaN             NaN
4         48945         Technology  ...         NaN             NaN
5         58896          Analytics  ...         NaN             NaN
6         20379         Operations  ...         NaN             NaN
7         16290         Operations  ...         NaN             NaN
8         73202          Analytics  ...         NaN             NaN
9         28911  Sales & Marketing  ...         NaN             NaN
10        29934         Technology  ...         NaN             NaN
11        49017  Sales & Marketing  ...         NaN             NaN
12        60051  Sales & Marketing  ...         NaN             NaN
13        38401         Technology  ...         NaN             NaN
14        77040                R&D  ...         NaN             NaN
15        43931         Operations  ...         NaN             NaN
16         7152         Technology  ...         NaN             NaN
17         9403  Sales & Marketing  ...         NaN             NaN
18        17436  Sales & Marketing  ...         0.0             1.0
19        54461         Operations  ...         0.0             1.0
20        12067                NaN  ...         0.0             1.0
21        33332                NaN  ...         0.0             1.0
22        58789                NaN  ...         0.0             1.0
23        71177                NaN  ...         0.0             1.0
24        52057                NaN  ...         0.0             2.0
25        26585                NaN  ...         0.0             1.0
26        37749                NaN  ...         0.0             1.0
27         2370                NaN  ...         0.0             1.0
28         8219                NaN  ...         0.0             1.0
29        74759                NaN  ...         0.0             1.0
30        27395                NaN  ...         0.0             1.0

[31 rows x 8 columns]